#navigation{
    font-size: 1rem;
    background-color: #0378A6;
    font-family: 'Open Sans', sans-serif;
    padding: 8px;
    

}
.nav-buttons{
    padding: 10px;
    text-decoration: none;
    color: rgb(249, 252, 252);

}

.nav-buttons:hover{
color: rgb(160, 165, 176);
}
